
/* first-colume */

.first-col{
    position: relative;
}

.perple-paint{
    background-color: #a03cff;
    width: 66%;
    height: 36rem;
    border-bottom-left-radius: 280px;
    border-bottom-right-radius: 280px;
    position: relative;
    right: 8rem;
}

/* phone */

.phone{
    display: inline-block;
    position: absolute;
    top: 10%;
    left: 38%;
    width: 220.062px;
    height: 496px;
    background-color: #ffff;
    border-radius: 30px;
    padding: 0.5rem;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.glass{
    background-color: #f5f3f8;
    position: relative;
    border-radius: 30px;
    line-height: 0.9;
}

/* noch */

.top-noch{
    background: linear-gradient(0.25turn,#913bfe ,#e043fe);
    border-radius: 20px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    color: #ffff;
    margin-bottom: 0.8rem;
}

.noch{
    background-color: #ffff;
    width: 80%;
    height: 0.75rem;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin: 0 auto 0 auto;
}

.arrow-icon{
    margin-left: 1rem;
    position: relative;
    bottom: 0.33rem;
}

.top-noch img{
    margin: 0 0 1rem 0;
    border-radius: 100%;
    width: 10%;
    border: 8px;
    border-color: #ffff;
    border: 1rem;
}

.top-noch .dis{
    display: inline-block;
    margin-top: 1rem;
}

.top-noch h6{
    font-size: 0.85rem;
    margin-bottom: 0;
}

.top-noch p{
    font-size: 0.6rem;
    color: #e1b5f9;
}

.fa-ellipsis-vertical{
    text-align: right;
    position: relative;
    left: 2.8rem;
    bottom: 0.33rem;
}


/* glass */

.buble-1{
    color: #ad8cc0;
    background-color: #ede5f5;
    font-size: 0.6rem;
    width: 67%;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 12px;
    border-bottom-left-radius: 4px;
}

.buble-1 p{
    margin-bottom: 0;
}

.msg-img{
   margin:0.5rem 0 0.5rem 0;
   text-align: right;
   position: relative;
   right: 0.5rem;
}

.msg-img img{
    width: 16.66%;
    border-radius: 12px;
}

.buble-2{
    position: relative;
    left: 3.75rem;
    background-color: #ffff;
    font-size: 0.6rem;
    width: 66%;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 12px;
    border-bottom-right-radius: 4px;
    height: 2.25rem;
}   

.buble-3{
    color: #ffff;
    background: linear-gradient(0.25turn,#e043fe, #913bfe);
    font-size: 0.6rem;
    width: 85%;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 12px;
    border-bottom-left-radius: 4px;
    height: 2rem;
}

.typing-bar{
    background-color: #ffff;
    margin: 1rem 0.5rem;
    border-radius: 30px;
    height: 2rem;
    font-size: 0.6rem;
}

.typing-bar p{
    padding-top: 0.75rem;
    padding-left: 0.66rem;
    color: #e1e3e2;
    display: inline-block;
}

.typing-bar i{
    position: absolute;
    right: 1rem;
    text-align: right;
    padding-top: 0.33rem;
    font-size: 1.33rem;
    color: #3d2654;
}



/* second-colume */

.second-col{
    padding: 17% 17% 0 2%;
    line-height: 1.7;
}

.second-col h1{
    color: #3a244c;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    margin-bottom: 1rem;
}

.second-col p{
    color: #b4b2b7;
}

@media (max-width:984px){
    .second-col{
        text-align: center;
        padding: 17% 2rem 0 2rem;
        margin-bottom: 4rem;
    }
}